.about-page{
  text-align: center;
  padding: 35px 0;

  p{
    width: 50%;
    margin: auto;
    color: lightgray;
    font-size: 18px;
    margin-bottom: 50px;
  }

  dl{
    text-align: left;

    dt{
      padding: 15px 0;
    }
  }

  form{
    text-align: left;

    input, textarea{
      margin: 10px 0;
      border: 3px solid lightgray;
      width: 100%;
      padding-left: 10px; 
    }

    input {
      height: 45px;
    }

    textarea {
      height: 145px;
    }
  }
}