
.checkout-page {
  .line-item input { width: 25px; padding: 5px; text-align: center; }
  .image { border: 1px solid #777; height: 250px; }  
  
  .cc-list{
    padding-top: 6px;
    text-align: center;
  }
}